# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Large datasets
data/raw/*
data/external/*

# Model checkpoints
models/checkpoints/*.pt
models/checkpoints/*.pth

# OS
.DS_Store
Thumbs.db